*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
.idea/compiler.xml
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/entities/entities.dat_i.len
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/entities/entities.dat_i
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/entities/entities.dat.values.s
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/entities/entities.dat.values.at
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/entities/entities.dat.values
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/entities/entities.dat.len
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6/entities/entities.dat
.idea/dataSources/7a684483-8ba1-436d-979c-7495d9a7adb6.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
