<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.moyeomoyeo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoyeoMoyeo">

        <activity android:name=".CreateMeeting" >
        </activity>
        <activity android:name=".EditMeeting" />
<!--        <activity android:name=".MainActivity" />-->
        <activity android:name=".ManageMember" />
        <activity android:name=".AttendCheckMng" />
        <activity android:name=".AttendCheck" />
        <activity android:name=".MyMeetingMng" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" >
        </activity>
        <activity android:name=".GroupDetailActivity" />
        <activity android:name=".OtherGroupActivity" />
        <activity android:name=".StudyGroupActivity" />
        <activity android:name=".ExtraCurricularActivity" />
        <activity android:name=".CirclesListActivity" />
        <activity android:name=".HomeActivity" >

        </activity>
    </application>

</manifest>